<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="XULIA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="AIMLGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>

  <section name="ListasRecuerdos" type="System.Configuration.DictionarySectionHandler"/>
  <section name="Compra" type="System.Configuration.DictionarySectionHandler"/>

</configSections>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <XULIA.Properties.Settings>
          <setting name="nombre_formulario" serializeAs="String">
            <value>XULIA - Xestión Unificada de Lenguaxe con Intelixencia Artificial</value>
          </setting>
        </XULIA.Properties.Settings>
        <AIMLGUI.Properties.Settings>
          <setting name="nombre_formulario" serializeAs="String">
            <value>XULIA - Xestión Unificada de Lenguaxe con Intelixencia Artificial</value>
          </setting>
        </AIMLGUI.Properties.Settings>
    </userSettings>


  <appSettings>
  </appSettings>


  <ListasRecuerdos>
    <add key="compra" value="lista de la compra"/>
    <add key="2" value="leche"/>
  </ListasRecuerdos>

  <compra>
    <add key="1" value="cafe"/>
    <add key="2" value="leche"/>
  </compra>

</configuration>

