<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
<appSettings>
    <add key="Secciones" value="Numeros,Alfabeto,Raton,Teclado,Simbolos,TeclasFuncion,Puntuacion,Acentos,Movimientos,Ventanas,Comandos,Multiplicadores" />
</appSettings>
    
<configSections>
    <section name="Numeros" type="System.Configuration.DictionarySectionHandler" />
    <section name="Alfabeto" type="System.Configuration.DictionarySectionHandler" />
    <section name="Raton" type="System.Configuration.DictionarySectionHandler" />
    <section name="Teclado" type="System.Configuration.DictionarySectionHandler" />
    <section name="Simbolos" type="System.Configuration.DictionarySectionHandler" />
    <section name="TeclasFuncion" type="System.Configuration.DictionarySectionHandler" />
    <section name="Puntuacion" type="System.Configuration.DictionarySectionHandler" />
    <section name="Acentos" type="System.Configuration.DictionarySectionHandler" />
    <section name="Movimientos" type="System.Configuration.DictionarySectionHandler" />
    <section name="Ventanas" type="System.Configuration.DictionarySectionHandler" />
    <section name="Comandos" type="System.Configuration.DictionarySectionHandler" />
    <section name="Multiplicadores" type="System.Configuration.DictionarySectionHandler" />

    <section name="NumerosValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="AlfabetoValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="RatonValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="TecladoValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="SimbolosValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="TeclasFuncionValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="PuntuacionValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="AcentosValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="MovimientosValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="VentanasValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="ComandosValores" type="System.Configuration.DictionarySectionHandler" />
    <section name="MultiplicadoresValores" type="System.Configuration.DictionarySectionHandler" />
</configSections>
   
   
<Numeros>
    <add key="SeccionValores" value="NumerosValores" />
  
    <add key="0" value="cero" />
    <add key="1" value="uno" />
    <add key="2" value="dos" />
    <add key="3" value="tres" />
    <add key="4" value="cuatro" />
    <add key="5" value="cinco" />
    <add key="6" value="seis" />
    <add key="7" value="siete" />
    <add key="8" value="ocho" />
    <add key="9" value="nueve" />
    <add key="10" value="diez" />
</Numeros>

<NumerosValores>
    <add key="SeccionValores" value="NumerosValores" />
  
    <add key="0" value="0" />
    <add key="1" value="1" />
    <add key="2" value="2" />
    <add key="3" value="3" />
    <add key="4" value="4" />
    <add key="5" value="5" />
    <add key="6" value="6" />
    <add key="7" value="7" />
    <add key="8" value="8" />
    <add key="9" value="9" />
    <add key="10" value="10" />
</NumerosValores>

  <Alfabeto>
    <add key="SeccionValores" value="AlfabetoValores" />

    <add key="a" value="alfa" />
    <add key="b" value="bravo" />
    <add key="c" value="charli" />
    <add key="d" value="delta" />
    <add key="e" value="eco" />
    <add key="f" value="fóxtrot" />
    <add key="g" value="golf" />
    <add key="h" value="jotel" />
    <add key="i" value="india" />
    <add key="j" value="Yúliet" />
    <add key="k" value="kilo" />
    <add key="l" value="lima" />
    <add key="m" value="maik" />
    <add key="n" value="november" />
    <add key="ñ" value="ñoño" />
    <add key="o" value="oscar" />
    <add key="p" value="papá" />
    <add key="q" value="quebéc" />
    <add key="r" value="rómeo" />
    <add key="s" value="sierra" />
    <add key="t" value="tango" />
    <add key="u" value="Yúniform" />
    <add key="v" value="victor" />
    <add key="w" value="Güisqui" />
    <add key="x" value="Exrey" />
    <add key="y" value="yanki" />
    <add key="z" value="zulú" />
  </Alfabeto>

  <AlfabetoValores>
    <add key="a" value="a" />
    <add key="b" value="b" />
    <add key="c" value="c" />
    <add key="d" value="d" />
    <add key="e" value="e" />
    <add key="f" value="f" />
    <add key="g" value="g" />
    <add key="h" value="h" />
    <add key="i" value="i" />
    <add key="j" value="j" />
    <add key="k" value="k" />
    <add key="l" value="l" />
    <add key="m" value="m" />
    <add key="n" value="n" />
    <add key="ñ" value="ñ" />
    <add key="o" value="o" />
    <add key="p" value="p" />
    <add key="q" value="q" />
    <add key="r" value="r" />
    <add key="s" value="s" />
    <add key="t" value="t" />
    <add key="u" value="u" />
    <add key="v" value="v" />
    <add key="w" value="w" />
    <add key="x" value="x" />
    <add key="y" value="y" />
    <add key="z" value="z" />
  </AlfabetoValores>

  <Raton>
    <add key="SeccionValores" value="RatonValores" />

    <add key="continuo" value="continuo" />
    <add key="parar" value="parar" />
    <add key="dobleclic" value="dobleclic" />
    <add key="clicderecho" value="clicderecho" />
    <add key="dobleclicderecho" value="dobleclicderecho" />
    <add key="cliccentro" value="cliccentro" />
    <add key="pulsar" value="pulsar" />
    <add key="levantar" value="levantar" />
  </Raton>

  <RatonValores>
    <add key="continuo" value="[MOV_CONT_RATON]" />
    <add key="parar" value="[PARAR_RATON]" />
    <add key="dobleclic" value="[DOBLE_CLIC]" />
    <add key="clicderecho" value="[CLIC_DERECHO]" />
    <add key="dobleclicderecho" value="[DOBLE_CLIC_DERECHO]" />
    <add key="cliccentro" value="[CLIC_CENTRO]" />
    <add key="pulsar" value="[PULSAR]" />
    <add key="levantar" value="[LEVANTAR]" />
  </RatonValores>

  <Simbolos>
    <add key="comillas" value="comillas" />
    <add key="comillassimples" value="comillassimples" />
    <add key="mas" value="mas" />
    <add key="menos" value="menos" />
    <add key="asterisco" value="asterisco" />
    <add key="dolar" value="dolar" />
    <add key="cerrarparéntesis" value="cerrarparéntesis" />
    <add key="abrirllave" value="abrirllave" />
    <add key="cerrarllave" value="cerrarllave" />
    <add key="abrircorchete" value="abrircorchete" />
    <add key="cerrarcorchete" value="cerrarcorchete" />
    <add key="subrrayado" value="subrrayado" />
    <add key="barrainvertida" value="barrainvertida" />
    <add key="barra" value="barra" />
    <add key="arroba" value="arroba" />
    <add key="porcentaje" value="porcentaje" />
    <add key="euro" value="euro" />
    <add key="mayorque" value="mayorque" />
    <add key="menorque" value="menorque" />
    <add key="iguala" value="iguala" />
    <add key="ampersan" value="ampersan" />
    <add key="abrirexclamación" value="abrirexclamación" />
    <add key="cerrarexclamación" value="cerrarexclamación" />
    <add key="abririnterrogación" value="abririnterrogación" />
    <add key="cerrarinterrogación" value="cerrarinterrogación" />
    <add key="barravertical" value="barravertical" />
    <add key="cerilla" value="cerilla" />
    <add key="primero" value="primero" />
    <add key="primera" value="primera" />
    <add key="angulo" value="angulo" />
  </Simbolos>

  <TeclasFuncion>
    <add key="SeccionValores" value="TeclasFuncionValores" />

    <add key="funcionuno" value="funcionuno" />
    <add key="funciondos" value="funciondos" />
    <add key="funciontres" value="funciontres" />
    <add key="funcioncuatro" value="funcioncuatro" />
    <add key="funcioncinco" value="funcioncinco" />
    <add key="funcionseis" value="funcionseis" />
    <add key="funcionsiete" value="funcionsiete" />
    <add key="funcionocho" value="funcionocho" />
    <add key="funcionnueve" value="funcionnueve" />
    <add key="funciondiez" value="funciondiez" />
    <add key="funciononce" value="funciononce" />
    <add key="funciondoce" value="funciondoce" />
  </TeclasFuncion>

  
  <TeclasFuncionValores>
    <add key="funcionuno" value="{F1}" />
    <add key="funciondos" value="{F2}" />
    <add key="funciontres" value="{F3}" />
    <add key="funcioncuatro" value="{F4}" />
    <add key="funcioncinco" value="{F5}" />
    <add key="funcionseis" value="{F6}" />
    <add key="funcionsiete" value="{F7}" />
    <add key="funcionocho" value="{F8}" />
    <add key="funcionnueve" value="{F9}" />
    <add key="funciondiez" value="{F10}" />
    <add key="funciononce" value="{F11}" />
    <add key="funciondoce" value="{F12}" />
  </TeclasFuncionValores>

  <Puntuacion>
    <add key="SeccionValores" value="PuntuacionValores" />

    <add key="punto" value="punto" />
    <add key="coma" value="coma" />
    <add key="puntoycoma" value="puntoycoma" />
    <add key="dospuntos" value="dospuntos" />
    <add key="puntoyaparte" value="puntoyaparte" />
  </Puntuacion>

  <PuntuacionValores>
    <add key="punto" value=". " />
    <add key="coma" value="," />
    <add key="puntoycoma" value=";" />
    <add key="dospuntos" value=":" />
    <add key="puntoyaparte" value=".{ENTER}" />
  </PuntuacionValores>
      

  <Acentos>
    <add key="SeccionValores" value="AcentosValores" />

    <add key="acento" value="acento" />
    <add key="grave" value="grave" />
    <add key="circunflejo" value="circunflejo" />
    <add key="diéresis" value="diéresis" />
  </Acentos>

  <AcentosValores>
    <add key="SeccionValores" value="AcentosValores" />

    <add key="acento" value="[ACENTO]" />
    <add key="grave" value="[ACENTO_GRAVE]" />
    <add key="circunflejo" value="[ACENTO_CIRCUNFLEJO]" />
    <add key="diéresis" value="[DIERESIS]" />
  </AcentosValores>


  <Movimiento>
    <add key="SeccionValores" value="MovimientoValores" />

    <add key="arriba" value="arriba" />
    <add key="abajo" value="abajo" />
    <add key="derecha" value="derecha" />
    <add key="izquierda" value="izquierda" />
  </Movimiento>

  <MovimientoValores>
    <add key="arriba" value="[ARRIBA]" />
    <add key="abajo" value="[ABAJO]" />
    <add key="derecha" value="[DERECHA]" />
    <add key="izquierda" value="[IZQUIERDA]" />
  </MovimientoValores>


  <Ventanas>
    <add key="SeccionValores" value="VentanasValores" />
    
    <add key="maximizarventana" value="maximizarventana" />
    <add key="minimizarventana" value="minimizarventana" />
    <add key="ventananormal" value="ventananormal" />
    <add key="ventanaderecha" value="ventanaderecha" />
    <add key="ventanaizquierda" value="ventanaizquierda" />
  </Ventanas>

  <VentanasValores>
    <add key="maximizarventana" value="[MAXIMIZAR]" />
    <add key="minimizarventana" value="[MINIMIZAR]" />
    <add key="ventananormal" value="[VENTANA_NORMAL]" />
    <add key="ventanaderecha" value="[VENTANA_DERECHA]" />
    <add key="ventanaizquierda" value="[VENTANA_IZQUIERDA]" />
  </VentanasValores>


  <Comandos>
    <add key="SeccionValores" value="ComandosValores" />

    <add key="rejilla" value="rejilla" />
    <add key="menúinicio" value="menúinicio" />
    <add key="ratón" value="ratón" />
    <add key="teclado" value="teclado" />
    <add key="número" value="número" />
    <add key="copiarventana" value="copiarventana" />
    <add key="copiarpantalla" value="copiarpantalla" />
    <add key="copiar" value="copiar" />
    <add key="cortar" value="cortar" />
    <add key="pegar" value="pegar" />
    <add key="restaurar" value="restaurar" />
    <add key="escribirletra" value="escribirletra" />
  </Comandos>

  <ComandosValores>
    <add key="rejilla" value="[REJILLA]" />
    <add key="menúinicio" value="^{ESC}" />
    <add key="ratón" value="[RATON]" />
    <add key="teclado" value="[TECLADO]" />
    <add key="número" value="[NUMERO]" />
    <add key="copiarventana" value="^{PRTSC}" />
    <add key="copiarpantalla" value="{PRTSC}" />
    <add key="copiar" value="^c" />
    <add key="cortar" value="^x" />
    <add key="pegar" value="^v" />
    <add key="restaurar" value="^z" />
    <add key="escribirletra" value="[ESCRIBIR_LETRA]" />
  </ComandosValores>

  <Multiplicadores>
    <add key="SeccionValores" value="MultiplicadoresValores" />

    <add key="pordos" value="pordos" />
    <add key="portres" value="portres" />
    <add key="porcuatro" value="porcuatro" />
    <add key="porcinco" value="porcinco" />
    <add key="porseis" value="porseis" />
    <add key="porsiete" value="porsiete" />
    <add key="porocho" value="porocho" />
    <add key="pornueve" value="pornueve" />
    <add key="pordiez" value="pordiez" />
  </Multiplicadores>


  <MultiplicadoresValores>
    <add key="pordos" value="[POR_DOS]" />
    <add key="portres" value="[POR_TRES]" />
    <add key="porcuatro" value="[POR_CUATRO]" />
    <add key="porcinco" value="[POR_CINCO]" />
    <add key="porseis" value="[POR_SEIS]" />
    <add key="porsiete" value="[POR_SIETE]" />
    <add key="porocho" value="[POR_OCHO]" />
    <add key="pornueve" value="[POR_NUEVE]" />
    <add key="pordiez" value="[POR_DIEZ]" />
  </MultiplicadoresValores>

</configuration>