<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AIMLGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>

  <section name="Numeros" type="System.Configuration.DictionarySectionHandler" />
  <section name="Alfabeto" type="System.Configuration.DictionarySectionHandler" />
  <section name="Raton" type="System.Configuration.DictionarySectionHandler" />
  <section name="Teclado" type="System.Configuration.DictionarySectionHandler" />
  <section name="Simbolos" type="System.Configuration.DictionarySectionHandler" />
  <section name="TeclasFuncion" type="System.Configuration.DictionarySectionHandler" />
  <section name="Puntuacion" type="System.Configuration.DictionarySectionHandler" />
  <section name="Acentos" type="System.Configuration.DictionarySectionHandler" />
  <section name="MovimientoTeclado" type="System.Configuration.DictionarySectionHandler" />
  <section name="MovimientoRaton" type="System.Configuration.DictionarySectionHandler" />
  <section name="Ventanas" type="System.Configuration.DictionarySectionHandler" />
  <section name="Comandos" type="System.Configuration.DictionarySectionHandler" />
  <section name="Multiplicadores" type="System.Configuration.DictionarySectionHandler" />
  <section name="Cancelar" type="System.Configuration.DictionarySectionHandler" />
  <section name="Word" type="System.Configuration.DictionarySectionHandler" />
  <section name="Chrome" type="System.Configuration.DictionarySectionHandler" />
  <section name="Ejecutar" type="System.Configuration.DictionarySectionHandler" />
  <section name="TeclasAlfabeto" type="System.Configuration.DictionarySectionHandler" />

  <section name="NumerosValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="AlfabetoValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="RatonValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="TecladoValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="SimbolosValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="TeclasFuncionValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="PuntuacionValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="AcentosValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="MovimientoTecladoValores" type="System.Configuration.DictionarySectionHandler" />

  <section name="MovimientoRatonValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="VentanasValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="ComandosValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="MultiplicadoresValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="CancelarValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="WordValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="ChromeValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="EjecutarValores" type="System.Configuration.DictionarySectionHandler" />
  <section name="TeclasAlfabetoValores" type="System.Configuration.DictionarySectionHandler" />

  <!-- Secciones de substitución de dictado -->
  <section name="DictadoPortugues" type="System.Configuration.DictionarySectionHandler" />
  <section name="DictadoIngles" type="System.Configuration.DictionarySectionHandler" />
  <section name="DictadoEspanol" type="System.Configuration.DictionarySectionHandler" />
</configSections>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <AIMLGUI.Properties.Settings>
          <setting name="nombre_formulario" serializeAs="String">
            <value>XULIA - Xestión Unificada de Lenguaxe con Intelixencia Artificial</value>
          </setting>
        </AIMLGUI.Properties.Settings>
    </userSettings>


  <appSettings>
    <!-- Gramáticas que se cargarán en el arranque -->
    <add key="Gramaticas" value="Numeros,Alfabeto,Raton,Teclado,Simbolos,TeclasFuncion,Puntuacion,Acentos,MovimientoTeclado,MovimientoRaton,Ventanas,Comandos,Multiplicadores,Cancelar,Ejecutar" />

    <!-- Gramáticas aceptadas en cada uno de los estados -->
    <add key="·COMANDO·" value="Raton,Teclado,TeclasFuncion,TeclasAlfabeto,MovimientoTeclado,Ventanas,Comandos,Multiplicadores,Ejecutar" />
    <add key="·RATON·" value="Raton,MovimientoRaton,Cancelar" />
    <add key="·REJILLA·" value="Numeros,Alfabeto,Cancelar" />
    <add key="·DELETREAR·" value="Comandos,Alfabeto,Simbolos,Acentos,Cancelar" />
    <add key="·DICTADO·" value="Cancelar" />
    
    <!-- Listas de sustituciones de dictado contínuo Google Chrome -->
    <add key="·DICTADO·PORTUGUES" value="DictadoPortugues" />
    <add key="·DICTADO·INGLES" value="DictadoIngles" />
    <add key="·DICTADO·ESPANOL" value="DictadoEspanol" />

    <add key="WINWORD" value="Word" />
    <add key="chrome" value="Chrome" />

    <!-- Gramáticas que permiten mantener el modo selección, si se detecta otro elementos no contenido en estas gramáticas este modo se desactiva automáticamente -->
    <add key="GramaticasSeleccionActiva" value="Comandos,Alfabeto,Simbolos,Acentos,Cancelar" />

    <!-- Gramáticas específicas de cada aplicación -->
    <add key="Aplicaciones" value="WINWORD,chrome" />

    <!-- Parámetros de aplicación -->
    <add key="Cultura" value="es-ES" />
    <add key="Precision" value="0,636" />
    <add key="CargarGramaticasAplicacion" value="S" />
    <add key="TiempoDesargarGramaticasAplicacion" value="0" />
    <add key="ModoDefecto" value="·COMANDO·" />
    <add key="SaltoMovimientoRaton" value="2" />
    <add key="DesactivarSeleccionAutomaticamente" value="N" />
    <add key="MarcarSeleccionRejilla" value="S" />
    <add key="DesplazamientoVentanaEstado" value="250" />
    <add key="DescargarGramaticasCambioMODO" value="S" />
    <add key="AltoBarraEstado" value="41" />
    <add key="ArchivoRecVoz" value="C:\TMP\RECOVOZ.TXT" />
    <add key="ArchivoComandos" value="C:\TMP\COMANDOS.TXT" />
    <add key="URLBaseIdioma" value="http://www.mirecvoz.com:8443/VOZ2/index.jsp" />
    <add key="GramaticaIdiomasGoogle" value="Cancelar" />

  </appSettings>

   <Cancelar>
    <add key="SeccionValores" value="CancelarValores" />

    <add key="CANCELAR" value="cancelar" />
    <add key="VOLVER" value="volver" />
  </Cancelar>

  <CancelarValores>
    <add key="CANCELAR" value="[CANCELAR]" />
    <add key="VOLVER" value="[VOLVER]" />
  </CancelarValores>


  <Numeros>
    <add key="SeccionValores" value="NumerosValores" />

    <add key="0" value="zero" />
    <add key="1" value="one" />
    <add key="2" value="two" />
    <add key="3" value="three" />
    <add key="4" value="four" />
    <add key="5" value="five" />
    <add key="6" value="six" />
    <add key="7" value="seven" />
    <add key="8" value="eight" />
    <add key="9" value="nine" />
    <add key="10" value="ten" />
  </Numeros>

  <NumerosValores>
    <add key="SeccionValores" value="NumerosValores" />

    <add key="0" value="0" />
    <add key="1" value="1" />
    <add key="2" value="2" />
    <add key="3" value="3" />
    <add key="4" value="4" />
    <add key="5" value="5" />
    <add key="6" value="6" />
    <add key="7" value="7" />
    <add key="8" value="8" />
    <add key="9" value="9" />
    <add key="10" value="10" />
  </NumerosValores>

  <Alfabeto>
    <add key="SeccionValores" value="AlfabetoValores" />

    <add key="a" value="alpha" />
    <add key="a" value="arm" />
    <add key="b" value="brabo" />
    <add key="c" value="charlie" />
    <add key="d" value="delta" />
    <add key="e" value="echo" />
    <add key="f" value="foxtrot" />
    <add key="g" value="golf" />
    <add key="g" value="green" />
    <add key="h" value="hotel" />
    <add key="i" value="india" />
    <add key="j" value="juliet" />
    <add key="k" value="kilo" />
    <add key="l" value="lima" />
    <add key="m" value="mike" />
    <add key="n" value="november" />
    <add key="o" value="oscar" />
    <add key="p" value="papa" />
    <add key="q" value="quebec" />
    <add key="r" value="romeo" />
    <add key="s" value="sierra" />
    <add key="t" value="tango" />
    <add key="t" value="test" />
    <add key="u" value="uniform" />
    <add key="v" value="victor" />
    <add key="w" value="wisckey" />
    <add key="x" value="x ray" />
    <add key="y" value="yankee" />
    <add key="z" value="zulu" />
   </Alfabeto>

  <AlfabetoValores>
    <add key="a" value="a" />
    <add key="b" value="b" />
    <add key="c" value="c" />
    <add key="d" value="d" />
    <add key="e" value="e" />
    <add key="f" value="f" />
    <add key="g" value="g" />
    <add key="h" value="h" />
    <add key="i" value="i" />
    <add key="j" value="j" />
    <add key="k" value="k" />
    <add key="l" value="l" />
    <add key="m" value="m" />
    <add key="n" value="n" />
    <add key="o" value="o" />
    <add key="p" value="p" />
    <add key="q" value="q" />
    <add key="r" value="r" />
    <add key="s" value="s" />
    <add key="t" value="t" />
    <add key="u" value="u" />
    <add key="v" value="v" />
    <add key="w" value="w" />
    <add key="x" value="x" />
    <add key="y" value="y" />
    <add key="z" value="z" />    
  </AlfabetoValores>

  <TeclasAlfabeto>
    <add key="SeccionValores" value="TeclasAlfabetoValores" />

    <add key="a" value="letteralpha" />
    <add key="a" value="letterarm" />
    <add key="b" value="letterbravo" />
    <add key="c" value="lettercharlie" />
    <add key="d" value="letterdelta" />
    <add key="e" value="letterecho" />
    <add key="f" value="letterfoxtrot" />
    <add key="g" value="lettergolf" />
    <add key="g" value="lettergreen" />
    <add key="h" value="letterhotel" />
    <add key="i" value="letterindia" />
    <add key="j" value="letterjuliet" />
    <add key="k" value="letterkilo" />
    <add key="l" value="letterlima" />
    <add key="m" value="lettermike" />
    <add key="n" value="letternovember" />
    <add key="o" value="letteroscar" />
    <add key="p" value="letterpapa" />
    <add key="q" value="letterquebec" />
    <add key="r" value="letterromeo" />
    <add key="s" value="lettersierra" />
    <add key="t" value="lettertango" />
    <add key="t" value="lettertest" />
    <add key="u" value="letteruniform" />
    <add key="v" value="lettervictor" />
    <add key="w" value="letterwhisckey" />
    <add key="x" value="letterxray" />
    <add key="y" value="letteryankee" />
    <add key="z" value="letterzulu" />
  </TeclasAlfabeto>

  <TeclasAlfabetoValores>
    <add key="a" value="a" />
    <add key="b" value="b" />
    <add key="c" value="c" />
    <add key="d" value="d" />
    <add key="e" value="e" />
    <add key="f" value="f" />
    <add key="g" value="g" />
    <add key="h" value="h" />
    <add key="i" value="i" />
    <add key="j" value="j" />
    <add key="k" value="k" />
    <add key="l" value="l" />
    <add key="m" value="m" />
    <add key="n" value="n" />
    <add key="o" value="o" />
    <add key="p" value="p" />
    <add key="q" value="q" />
    <add key="r" value="r" />
    <add key="s" value="s" />
    <add key="t" value="t" />
    <add key="u" value="u" />
    <add key="v" value="v" />
    <add key="w" value="w" />
    <add key="x" value="x" />
    <add key="y" value="y" />
    <add key="z" value="z" />
    <add key="ñ" value="ñ" />
  </TeclasAlfabetoValores>

  <Raton>
    <add key="SeccionValores" value="RatonValores" />

    <add key="continuo" value="movemouse" />
    <add key="parar" value="stopmouse" />
    <add key="parar" value="stop" />
    <add key="dobleclic" value="doublepress" />
    <add key="clicderecho" value="rightpress" />
    <add key="dobleclicderecho" value="doublerightpress" />
    <add key="cliccentro" value="centerpress" />
    <add key="clic" value="press" />
    <add key="pulsar" value="beggindragging" />
    <add key="levantar" value="stopdragging" />
  </Raton>

  <RatonValores>
    <add key="continuo" value="·RATON·" />
    <add key="parar" value="[PARAR_RATON]" />
    <add key="dobleclic" value="[DOBLE_CLIC]" />
    <add key="clicderecho" value="[CLIC_DERECHO]" />
    <add key="dobleclicderecho" value="[DOBLE_CLIC_DERECHO]" />
    <add key="cliccentro" value="[CLIC_CENTRO]" />
    <add key="clic" value="[RATON_CLIC]" />
    <add key="pulsar" value="[PULSAR]" />
    <add key="levantar" value="[LEVANTAR]" />
  </RatonValores>

  <Teclado>
    <add key="SeccionValores" value="TecladoValores" />

    <add key="siguientepágina" value="pagedown" />
    <add key="anteriorpágina" value="pageup" />
    <add key="siguientepalabra" value="nextword" />
    <add key="anteriorpalabra" value="backword" />
    <add key="seleccionar" value="select" />
    <add key="finselección" value="endselection" />
    <add key="borrar" value="backspace" />
    <add key="suprimir" value="delete" />
    <add key="borrarpalabra" value="backspaceword" />
    <add key="borrarlinea" value="backspaceline" />
    <add key="enter" value="enter" />
    <add key="siguienteaplicacion" value="nextapplication" />
    <add key="anterioraplicacion" value="application" />
    <add key="siguientecampo" value="nextfield" />
    <add key="tabulador" value="tab" />
    <add key="anteriorcampo" value="backfield" />
    <add key="inicio" value="home" />
    <add key="fin" value="end" />
    <add key="primerapágina" value="firstpage" />
    <add key="últimapágina" value="lastpage" />
    <add key="mayúsculas" value="allcaps" />
    <add key="finmayúsculas" value="endcaps" />
    <add key="unamayúscula" value="caps" />
    <add key="control" value="control" />
    <add key="alternativo" value="alternate" />
    <add key="escape" value="escape" />
    <add key="seleccionarlinea" value="selectline" />
    <add key="siguientesolapa" value="nexttab" />
    <add key="anteriorsolapa" value="backtab" />
  </Teclado>
  <TecladoValores>
    <add key="siguientepágina" value="{PGDN}" />
    <add key="anteriorpágina" value="{PGUP}" />
    <add key="siguientepalabra" value="^{RIGHT}" />
    <add key="anteriorpalabra" value="^{LEFT}" />
    <add key="seleccionar" value="[SELECCIONAR]" />
    <add key="finselección" value="[FIN_SELECCION]" />
    <add key="borrar" value="{BACKSPACE}" />
    <add key="suprimir" value="{DEL}" />
    <add key="borrarpalabra" value="^(+{LEFT})^x" />
    <add key="borrarlinea" value="^{HOME}^x" />
    <add key="enter" value="{ENTER}" />
    <add key="siguienteaplicacion" value="{TAB}" />
    <add key="anterioraplicacion" value="+{TAB}" />
    <add key="siguientecampo" value="{TAB}" />
    <add key="tabulador" value="{TAB}" />
    <add key="anteriorcampo" value="+{TAB}" />
    <add key="inicio" value="{HOME}" />
    <add key="fin" value="{END}" />
    <add key="primerapágina" value="^{HOME}" />
    <add key="últimapágina" value="^{END}" />
    <add key="mayúsculas" value="[MAYUSCULAS]" />
    <add key="finmayúsculas" value="[FIN_MAYUSCULAS]" />
    <add key="unamayúscula" value="[UNAMAYUSCULA]" />
    <add key="control" value="[CONTROL]" />
    <add key="alternativo" value="[ALT]" />
    <add key="escape" value="{ESC}" />
    <add key="seleccionarlinea" value="{HOME}+{END}" />
    <add key="siguientesolapa" value="^{TAB}" />
    <add key="anteriorsolapa" value="^+{TAB}" />
  </TecladoValores>

  <Simbolos>
    <add key="SeccionValores" value="SimbolosValores" />

    <add key="comillas" value="quote" />
    <add key="comillassimples" value="apostrophe" />
    <add key="mas" value="plus" />
    <add key="menos" value="minus" />
    <add key="asterisco" value="asterisk" />
    <add key="dolar" value="dollar" />
    <add key="abrirparéntesis" value="leftparent" />
    <add key="cerrarparéntesis" value="rightparent" />
    <add key="abrirllave" value="curlyleft" />
    <add key="cerrarllave" value="curlyright" />
    <add key="abrircorchete" value="leftbracket" />
    <add key="cerrarcorchete" value="rightbracket" />
    <add key="subrrayado" value="underline" />
    <add key="barrainvertida" value="backslash" />
    <add key="barra" value="slash" />
    <add key="arroba" value="atsign" />
    <add key="porcentaje" value="percent" />
    <add key="sostenido" value="number" />
    <add key="euro" value="euro" />
    <add key="mayorque" value="greaterthan" />
    <add key="menorque" value="lessthan" />
    <add key="iguala" value="equal" />
    <add key="ampersan" value="ampersign" />
    <add key="cerrarexclamación" value="exclamation" />
    <add key="cerrarinterrogación" value="interrogation" />
    <add key="barravertical" value="verticalbar" />
    <add key="cerilla" value="cedilla" />
    <add key="primero" value="masculineordinal" />
    <add key="primero" value="masculine" />
    <add key="primera" alue="feminineordinal" />
    <add key="primera" value="feminine" />
    <add key="angulo" value="degreesign" />
    <add key="espacio" value="space" />
  </Simbolos>

  <SimbolosValores>
    <add key="comillas" value="[COMILLAS]" />
    <add key="comillassimples" value="'" />
    <add key="mas" value="{+}" />
    <add key="menos" value="-" />
    <add key="asterisco" value="*" />
    <add key="dolar" value="$" />
    <add key="abrirparéntesis" value="(" />
    <add key="cerrarparéntesis" value=")" />
    <add key="abrirllave" value="{" />
    <add key="cerrarllave" value="}" />
    <add key="abrircorchete" value="[" />
    <add key="cerrarcorchete" value="]" />
    <add key="subrrayado" value="_" />
    <add key="barrainvertida" value="\" />
    <add key="barra" value="/" />
    <add key="arroba" value="@" />
    <add key="porcentaje" value="{%}" />
    <add key="sostenido" value="#" />
    <add key="euro" value="€" />
    <add key="mayorque" value="&gt;"/>
    <add key="menorque" value="[MENOR]" />
    <add key="iguala" value="=" />
    <add key="ampersan" value="[AMP]" />
    <add key="cerrarexclamación" value="!" />
    <add key="cerrarinterrogación" value="?" />
    <add key="barravertical" value="|" />
    <add key="cerilla" value="ç" />
    <add key="primero" value="º" />
    <add key="primera" value="ª" />
    <add key="angulo" value="{^}" />
    <add key="espacio" value=" " />
  </SimbolosValores>
  
  <TeclasFuncion>
    <add key="SeccionValores" value="TeclasFuncionValores" />

    <add key="funcionuno" value="functionone" />
    <add key="funciondos" value="functiontwo" />
    <add key="funciontres" value="functionthree" />
    <add key="funcioncuatro" value="functionfour" />
    <add key="funcioncinco" value="functionfive" />
    <add key="funcionseis" value="functionsix" />
    <add key="funcionsiete" value="functionseven" />
    <add key="funcionocho" value="functioneight" />
    <add key="funcionnueve" value="functionnine" />
    <add key="funciondiez" value="functionten" />
    <add key="funciononce" value="functioneleven" />
    <add key="funciondoce" value="functiontwelve" />
  </TeclasFuncion>


  <TeclasFuncionValores>
    <add key="funcionuno" value="{F1}" />
    <add key="funciondos" value="{F2}" />
    <add key="funciontres" value="{F3}" />
    <add key="funcioncuatro" value="{F4}" />
    <add key="funcioncinco" value="{F5}" />
    <add key="funcionseis" value="{F6}" />
    <add key="funcionsiete" value="{F7}" />
    <add key="funcionocho" value="{F8}" />
    <add key="funcionnueve" value="{F9}" />
    <add key="funciondiez" value="{F10}" />
    <add key="funciononce" value="{F11}" />
    <add key="funciondoce" value="{F12}" />
  </TeclasFuncionValores>

  <Puntuacion>
    <add key="SeccionValores" value="PuntuacionValores" />

    <add key="punto" value="point" />
    <add key="punto" value="dot" />
    <add key="coma" value="comma" />
    <add key="puntoycoma" value="semicollon" />
    <add key="dospuntos" value="collon" />
    <add key="puntoyaparte" value="newparagraph" />
  </Puntuacion>

  <PuntuacionValores>
    <add key="punto" value=". " />
    <add key="coma" value="," />
    <add key="puntoycoma" value=";" />
    <add key="dospuntos" value=":" />
    <add key="puntoyaparte" value=".{ENTER}" />
  </PuntuacionValores>


  <Acentos>
    <add key="SeccionValores" value="AcentosValores" />

    <add key="acento" value="acute" />
    <add key="grave" value="grave" />
    <add key="circunflejo" value="circumflex" />
    <add key="diéresis" value="trema" />
  </Acentos>

  <AcentosValores>
    <add key="SeccionValores" value="AcentosValores" />

    <add key="acento" value="[ACENTO]" />
    <add key="grave" value="[ACENTO_GRAVE]" />
    <add key="circunflejo" value="[ACENTO_CIRCUNFLEJO]" />
    <add key="diéresis" value="[DIERESIS]" />
  </AcentosValores>


  <MovimientoTeclado>
    <add key="SeccionValores" value="MovimientoTecladoValores" />

    <add key="arriba" value="upkey" />
    <add key="abajo" value="downkey" />
    <add key="derecha" value="rightkey" />
    <add key="izquierda" value="leftkey" />
  </MovimientoTeclado>

  <MovimientoTecladoValores>
    <add key="arriba" value="{UP}" />
    <add key="abajo" value="{DOWN}" />
    <add key="derecha" value="{RIGHT}" />
    <add key="izquierda" value="{LEFT}" />
  </MovimientoTecladoValores>

  <MovimientoRaton>
    <add key="SeccionValores" value="MovimientoRatonValores" />

    <add key="arriba" value="goup" />
    <add key="abajo" value="godown" />
    <add key="derecha" value="goright" />
    <add key="izquierda" value="goleft" />
  </MovimientoRaton>

  <MovimientoRatonValores>
    <add key="arriba" value="[RATON_ARRIBA]" />
    <add key="abajo" value="[RATON_ABAJO]" />
    <add key="derecha" value="[RATON_DERECHA]" />
    <add key="izquierda" value="[RATON_IZQUIERDA]" />
  </MovimientoRatonValores>


  <Ventanas>
    <add key="SeccionValores" value="VentanasValores" />

    <add key="maximizarventana" value="maximizewindow" />
    <add key="minimizarventana" value="minimizewindow" />
    <add key="ventananormal" value="normalwindown" />
    <add key="ventanaderecha" value="windowright" />
    <add key="ventanaizquierda" value="windowleft" />
  </Ventanas>

  <VentanasValores>
    <add key="maximizarventana" value="[MAXIMIZAR]" />
    <add key="minimizarventana" value="[MINIMIZAR]" />
    <add key="ventananormal" value="[VENTANA_NORMAL]" />
    <add key="ventanaderecha" value="[VENTANA_DERECHA]" />
    <add key="ventanaizquierda" value="[VENTANA_IZQUIERDA]" />
  </VentanasValores>

  <Word>
    <add key="SeccionValores" value="WordValores" />

    <add key="ortografia" value="orthography" />
    <add key="negrita" value="bold" />
    <add key="cursiva" value="italic" />
  </Word>

  <WordValores>
    <add key="ortografia" value="{F7}" />
    <add key="negrita" value="^n" />
    <add key="cursiva" value="^k" />
  </WordValores>

  <Chrome>
    <add key="SeccionValores" value="ChromeValores" />

    <!-- Combinaciones de funciones sin activar las combinaciones de teclas de chrome
    <add key="redactarcorreo" value="newmail" />
    <add key="bandejarecibidos" value="mailreceived" />
    <add key="bandejaenviados" value="mailsent" />
    <add key="bandejaborradores" value="drafts" />
    <add key="respondercorreo" value="replymail" />
    -->
    <add key="correo" value="email" />
    <add key="cambiarusuario" value="changeuser" />
    <add key="usuarioantonio" value="userantonio" />
    <add key="usuariomercedes" value="usermercedes" />
    <add key="adjuntarfichero" value="attachfile" />
    <add key="enviarcorreo" value="sendmail" />

    <add key="redactarcorreo" value="newmail" />
    <add key="respondercorreo" value="replymail" />
    <add key="bandejarecibidos" value="mailreceived" />
    <add key="bandejaenviados" value="mailsent" />
    <add key="bandejaborradores" value="drafts" />
    <add key="guardarborrador" value="savedraft" />
    <add key="añadircopia" value="addcopy" />
    <add key="eliminarcorreo" value="deletemail" />
    <add key="deshacercambios" value="undochange" />
    <add key="añadircopiaoculta" value="addblindcopy" />
    <add key="cancelarespuesta" value="cancelmail" />

    <add key="siguientepagina" value="nextpage" />
    <add key="anteriorpagina" value="backpage" />

    <add key="aceptar" value="accept" />
    <add key="navegaratras" value="goback" />
    <add key="navegaradelante" value="gonext" />
    <add key="recargarpagina" value="reloadpage" />
    <add key="nuevarecarga" value="newreload" />
    <add key="nuevapestaña" value="newtab" />
    <add key="paginadeinicio" value="homepage" />
    <add key="abrirultimapestaña" value="openlasttab" />
    <add key="siguientepestaña" value="nexttab" />
    <add key="anteriorpestaña" value="previoustab" />
    <add key="cerrarpestaña" value="closetab" />
    <add key="pestañaoculta" value="anonymoustab" />
    <add key="restaurarpestaña" value="restoretab" />
    <add key="pestañauno" value="tabone" />
    <add key="pestañados" value="tabtwo" />
    <add key="pestañatres" value="tabthree" />
    <add key="pestañacuatro" value="tabfour" />
    <add key="pestañacinco" value="tabfive" />
    <add key="pestañaseis" value="tabsix" />
    <add key="pestañasiete" value="tabseven" />
    <add key="pestañaocho" value="tabeight />
    <add key="mostrarmarcadores" value="showbookmarks" />
    <add key="añadirmarcador" value="addbookmark" />
    <add key="mostrardescargas" value="showdownloads" />
    <add key="abrirenlace" value="openlink" />
    <add key="ampliar" value="zoomin" />
    <add key="reducir" value="zoomout" />
    <add key="tamañooriginal" value="normalsize" />
    <add key="abrirmenu" value="openmenu" />

    <add key="imprimirpagina" value="printpage" />
    <add key="guardarpagina" value="savepage" />
    <add key="buscarpalabra" value="findtext" />
    <add key="buscarsiguiente" value="finddown" />
    <add key="buscaranterior" value="findup" />
  </Chrome>

  <ChromeValores>
    <!-- Combinaciones de funciones sin activar las combinaciones de teclas de chrome
    <add key="redactarcorreo" value="^f|REDACTAR|{ENTER}|{ESC}|{ENTER}" />
    <add key="bandejarecibidos" value="^f|Recibidos {(}|{ENTER}|{ESC}|{ENTER}" />
    <add key="bandejaenviados" value="^f|Enviados|{ENTER}|{ESC}|{ENTER}" />
    <add key="bandejaborradores" value="^f|Borradores|{ENTER}|{ESC}|{ENTER}" />
    <add key="respondercorreo" value="{TAB 5}|{ENTER}" />
    -->
    <add key="correo" value="^t|https://mail.google.com|{ENTER}" />
    <add key="adjuntarfichero" value="^f|Enviar|{ENTER}|{ESC}|{TAB}|{ENTER}" />

    <add key="cambiarusuario" value="^t|https://accounts.google.com/AccountChooser?service=mail|[AMP]|rm=false|{ENTER}" />
    <add key="usuarioantonio" value="{TAB}|{ENTER}" />
    <add key="usuariomercedes" value="{TAB 2}|{ENTER}" />

    <add key="redactarcorreo" value="c" />
    <add key="respondercorreo" value="r" />
    <add key="bandejarecibidos" value="gi" />
    <add key="bandejaenviados" value="gt" />
    <add key="bandejaborradores" value="gd" />
    <add key="enviarcorreo" value="^{ENTER}" />
    <add key="guardarborrador" value="^s" />
    <add key="añadircopia" value="^+c" />
    <add key="añadircopiaoculta" value="^+b" />
    <add key="eliminarcorreo" value="#" />
    <add key="deshacercambios" value="z" />
    <add key="añadircopiaoculta" value="^+b" />
    <add key="cancelarespuesta" value="{TAB 7}|{ENTER}" />

    <add key="siguientepagina" value="^f|Siguiente|{ENTER}|{ESC}|{ENTER}" />
    <add key="anteriorpagina" value="^f|Anterior|{ENTER}|{ESC}|{ENTER}" />

    <add key="aceptar" value="{ENTER}" />
    <add key="navegaratras" value="{BACKSPACE}" />
    <add key="navegaradelante" value="+{BACKSPACE}" />
    <add key="recargarpagina" value="{F5}" />
    <add key="nuevarecarga" value="^{F5}" />
    <add key="nuevapestaña" value="^t" />
    <add key="paginadeinicio" value="%{HOME}" />
    <add key="abrirultimapestaña" value="^+t" />
    <add key="siguientepestaña" value="^{TAB}" />
    <add key="anteriorpestaña" value="^+{TAB}" />
    <add key="cerrarpestaña" value="^{F4}" />
    <add key="pestañaoculta" value="^+n" />
    <add key="restaurarpestaña" value="^+t" />
    <add key="pestañauno" value="^1" />
    <add key="pestañados" value="^2" />
    <add key="pestañatres" value="^3" />
    <add key="pestañacuatro" value="^4" />
    <add key="pestañacinco" value="^5" />
    <add key="pestañaseis" value="^6" />
    <add key="pestañasiete" value="^7" />
    <add key="pestañaocho" value="^8" />
    <add key="mostrarmarcadores" value="^b" />
    <add key="añadirmarcador" value="^d" />
    <add key="mostrardescargas" value="^j" />
    <add key="abrirenlace" value="^{ENTER}" />
    <add key="ampliar" value="^{ADD}" />
    <add key="reducir" value="^(-)" />
    <add key="tamañooriginal" value="^0" />
    <add key="abrirmenu" value="{F10}" />

    <add key="imprimirpagina" value="^p" />
    <add key="guardarpagina" value="^s" />
    <add key="buscarpalabra" value="^f" />
    <add key="buscarsiguiente" value="{F3}" />
    <add key="buscaranterior" value="+{F3}" />

    <add key="pantallacompleta" value="pantallacompleta" />
  </ChromeValores>


  <Comandos>
    <add key="SeccionValores" value="ComandosValores" />

    <add key="rejilla" value="showgrid" />
    <add key="menúinicio" value="startmenu" />
    <add key="modoratón" value="mousemode" />
    <add key="teclado" value="keyboard" />
    <add key="número" value="number" />
    <add key="copiarventana" value="copywindow" />
    <add key="copiarpantalla" value="printscreen" />
    <add key="copiar" value="copy" />
    <add key="cortar" value="cut" />
    <add key="pegar" value="paste" />
    <add key="restaurar" value="undochange" />
    <add key="escribirletra" value="spell" />
    <add key="cambiaraplicacion" value="changeapplication" />
    <add key="seleccionaraplicacion" value="selectapplication" />
    <add key="mostrarposicion" value="showposition" />
    <add key="mostrarclaseventana" value="showwindowclass" />
    <add key="dictado" value="dictation" />
    <add key="dictadoportugués" value="portuguese" />
    <add key="dictadoinglés" value="dictationenglish" />
    <add key="dictadoespañol" value="dictationspanish" />
    <add key="maximizarventana" value="maximizewindow" />
    <add key="ventanaderecha" value="windowright" />
    <add key="ventanaizquierda" value="windowleft" />
    <add key="cerraraplicacion" value="closeapplication" />
    <add key="cerrarventana" value="closewindow" />
    <add key="explorardisco" value="windowsexplorer" />
    <add key="ayuda" value="help" />
    <add key="cerrarayuda" value="closehelp" />
  </Comandos>

  <ComandosValores>
    <add key="rejilla" value="·REJILLA·" />
    <add key="menúinicio" value="^{ESC}" />
    <add key="modoratón" value="·RATON·" />
    <add key="teclado" value="[TECLADO]" />
    <add key="número" value="[NUMERO]" />
    <add key="copiarventana" value="^{PRTSC}" />
    <add key="copiarpantalla" value="{PRTSC}" />
    <add key="copiar" value="^c" />
    <add key="cortar" value="^x" />
    <add key="pegar" value="^v" />
    <add key="restaurar" value="^z" />
    <add key="escribirletra" value="·DELETREAR·" />
    <add key="cambiaraplicacion" value="%{TAB}" />
    <add key="seleccionaraplicacion" value="[SELECCIONAR_APLICACION]" />
    <add key="mostrarposicion" value="[MOSTRAR_POSICION_CURSOR]" />
    <add key="mostrarclaseventana" value="[MOSTRAR_CLASE_VENTANA]" />
    <add key="dictado" value="·DICTADO·" />
    <add key="dictadoportugués" value="·DICTADO·PORTUGUES" />
    <add key="dictadoinglés" value="·DICTADO·INGLES" />
    <add key="dictadoespañol" value="·DICTADO·ESPANOL" />
    <add key="maximizarventana" value="[MAXIMIZAR]" />
    <add key="ventanaderecha" value="[VENTANA_DERECHA]" />
    <add key="ventanaizquierda" value="[VENTANA_IZQUIERDA]" />
    <add key="cerraraplicacion" value="%{F4}" />
    <add key="cerrarventana" value="^{F4}" />
    <add key="explorardisco" value="+{TAB 3}" />
    <add key="ayuda" value="[AYUDA]" />
    <add key="cerrarayuda" value="[CERRAR_AYUDA]" />
  </ComandosValores>

  <Multiplicadores>
    <add key="SeccionValores" value="MultiplicadoresValores" />

    <add key="x1" value="byone" />
    <add key="x2" value="bytwo" />
    <add key="x3" value="bythree" />
    <add key="x4" value="byfour" />
    <add key="x5" value="byfive" />
    <add key="x6" value="bysix" />
    <add key="x7" value="byseven" />
    <add key="x8" value="byeight" />
    <add key="x9" value="bynine" />
    <add key="x10" value="byten" />
  </Multiplicadores>

  <MultiplicadoresValores>
    <add key="x1" value="[POR_UNO]" />
    <add key="x2" value="[POR_DOS]" />
    <add key="x3" value="[POR_TRES]" />
    <add key="x4" value="[POR_CUATRO]" />
    <add key="x5" value="[POR_CINCO]" />
    <add key="x6" value="[POR_SEIS]" />
    <add key="x7" value="[POR_SIETE]" />
    <add key="x8" value="[POR_OCHO]" />
    <add key="x9" value="[POR_NUEVE]" />
    <add key="x10" value="[POR_DIEZ]" />
  </MultiplicadoresValores>

  <Ejecutar>
    <add key="SeccionValores" value="EjecutarValores" />
  
    <add key="word" value="microsoftword" />
    <add key="chrome" value="googlechrome" />
    <add key="notepad" value="notepad" />
    <add key="calc" value="opencalculator />
  </Ejecutar>

  <EjecutarValores>
    <add key="word" value="[EJECUTAR]WINWORD.EXE·WINWORD" />
    <add key="chrome" value="[EJECUTAR]CHROME.EXE·chrome" />
    <add key="notepad" value="[EJECUTAR]NOTEPAD.EXE·NOTEPAD" />
    <add key="calc" value="[EJECUTAR]CALC.EXE" />
  </EjecutarValores>  
      
  <DictadoPortugues>
    <add key="·CodigoIdioma" value="pt-BR" />
    <add key="·SalirDictado" value="cancelardictado" />
    <add key="·Literal" value="literal" />

    <add key="dois pontos" value=":" />
    <add key="ponto" value="." />

    <add key="zero" value="0" />
    <add key="um" value="1" />
    <add key="dois" value="2" />
    <add key="três" value="3" />
    <add key="quatro" value="4" />
    <add key="cinco" value="5" />
    <add key="seis" value="6" />
    <add key="sete" value="7" />
    <add key="oito" value="8" />
    <add key="nove" value="9" />
    <add key="dez" value="10" />

    <add key="letraa" value="a" />
    <add key="letrab" value="b" />
    <add key="letrac" value="c" />
    <add key="letrad" value="d" />
    <add key="letrae" value="e" />
    <add key="letraf" value="f" />
    <add key="letrag" value="g" />
    <add key="letrah" value="h" />
    <add key="letrai" value="i" />
    <add key="letraj" value="j" />
    <add key="letrak" value="k" />
    <add key="letral" value="l" />
    <add key="letram" value="m" />
    <add key="letran" value="n" />
    <add key="letrao" value="o" />
    <add key="letrap" value="p" />
    <add key="letraq" value="q" />
    <add key="letrar" value="r" />
    <add key="letras" value="s" />
    <add key="letrat" value="t" />
    <add key="letrau" value="u" />
    <add key="letrav" value="v" />
    <add key="letraw" value="w" />
    <add key="letrax" value="x" />
    <add key="letray" value="y" />	
    <add key="letraz" value="z" />

    <add key="páginaabaixo" value="{PGDN}" />
    <add key="páginaacima" value="{PGUP}" />
    <add key="próximapalavra" value="^{RIGHT}" />
    <add key="anteriorpalavra" value="^{LEFT}" />
    <add key="selecionar" value="[SELECCIONAR]" />
    <add key="fimseleção" value="[FIN_SELECCION]" />
    <add key="apagar" value="{BACKSPACE}" />
    <add key="deletar" value="{DEL}" />
    <add key="apagarpalabra" value="^(+{LEFT})^x" />
    <add key="apagarlinha" value="^{HOME}^x" />
    <add key="enter" value="{ENTER}" />
    <add key="próximaaplicação" value="{TAB}" />
    <add key="anterioraplicação" value="+{TAB}" />
    <add key="próximocampo" value="{TAB}" />
    <add key="tabulador" value="{TAB}" />
    <add key="anteriorcampo" value="+{TAB}" />
    <add key="início" value="{HOME}" />
    <add key="fim" value="{END}" />
    <add key="primeirapágina" value="^{HOME}" />
    <add key="últimapágina" value="^{END}" />
    <add key="maiúsculas" value="[MAYUSCULAS]" />
    <add key="fimmaiúsculas" value="[FIN_MAYUSCULAS]" />
    <add key="umamaiúscula" value="[UNAMAYUSCULA]" />
    <add key="control" value="[CONTROL]" />
    <add key="alternativo" value="[ALT]" />
    <add key="escape" value="{ESC}" />
    <add key="selecionarlinha" value="{HOME}+{END}" />
    <add key="próximaaba" value="^{TAB}" />
    <add key="anterioraba" value="^+{TAB}" />
  
    <add key="aspas" value="[COMILLAS]" />
    <add key="apóstrofo" value="'" />
    <add key="mais" value="{+}" />
    <add key="menos" value="-" />
    <add key="asterisco" value="*" />
    <add key="dolar" value="$" />
    <add key="abrirparênteses" value="(" />
    <add key="fecharparênteses" value=")" />
    <add key="abrirchave" value="{" />
    <add key="fecharchave" value="}" />
    <add key="abrircolchete" value="[" />
    <add key="fecharcolchete" value="]" />
    <add key="sublinhado" value="_" />
    <add key="contrabarra" value="\" />
    <add key="barra" value="/" />
    <add key="arroba" value="@" />
    <add key="porcentagem" value="{%}" />
    <add key="sustenido" value="#" />
    <add key="euro" value="€" />
    <add key="maiorque" value="&gt;"/>
    <add key="menorque" value="[MENOR]" />
    <add key="igual" value="=" />
    <add key="ecomercial" value="[AMP]" />
    <add key="exclamação" value="!" />
    <add key="interrogação" value="?" />
    <add key="barravertical" value="|" />
    <add key="cedilha" value="ç" />
    <add key="primeiro" value="º" />
    <add key="primeira" value="ª" />
    <add key="ângulo" value="{^}" />
    <add key="espaço" value=" " />
  
    <add key="funçãoum" value="functionone" />
    <add key="funçãodois" value="functiontwo" />
    <add key="funçãotrês" value="functionthree" />
    <add key="funçãoquatro" value="functionfour" />
    <add key="funçãocinco" value="functionfive" />
    <add key="funçãoseis" value="functionsix" />
    <add key="funçãosete" value="functionseven" />
    <add key="funçãooito" value="functioneight" />
    <add key="funçãonove" value="functionnine" />
    <add key="funçãodez" value="functionten" />
    <add key="funçãoonze" value="functioneleven" />
    <add key="funçãodoze" value="functiontwelve" />

    <add key="ponto" value=". " />
    <add key="vírgula" value="," />
    <add key="pontoevírgula" value=";" />
    <add key="doispontos" value=":" />
    <add key="pontoeparágrafo" value=".{ENTER}" />

    <add key="acento" value="[ACENTO]" />
    <add key="grave" value="[ACENTO_GRAVE]" />
    <add key="circunflexo" value="[ACENTO_CIRCUNFLEJO]" />
    <add key="trema" value="[DIERESIS]" />

    <add key="acima" value="{UP}" />
    <add key="abaixo" value="{DOWN}" />
    <add key="direita" value="{RIGHT}" />
    <add key="esquerda" value="{LEFT}" />

    <add key="copiar" value="^c" />
    <add key="cortar" value="^x" />
    <add key="colar" value="^v" />
    <add key="desfazer" value="^z" />

    <add key="porum" value="[POR_UNO]" />
    <add key="pordois" value="[POR_DOS]" />
    <add key="portrês" value="[POR_TRES]" />
    <add key="porquatro" value="[POR_CUATRO]" />
    <add key="porcinco" value="[POR_CINCO]" />
    <add key="porseis" value="[POR_SEIS]" />
    <add key="porsete" value="[POR_SIETE]" />
    <add key="poroito" value="[POR_OCHO]" />
    <add key="pornove" value="[POR_NUEVE]" />
    <add key="pordez" value="[POR_DIEZ]" />

  </DictadoPortugues>

  <DictadoIngles>
    <add key="·CodigoIdioma" value="en-US" />
    <add key="·SalirDictado" value="dictateexit" />
    <add key="·Literal" value="literal" />

    <add key="x1" value="[POR_UNO]" />
  </DictadoIngles>

  <DictadoEspanol>
    <add key="CodigoIdioma" value="es-ES" />

    <add key="dos puntos" value=":" />
    <add key="punto" value="." />
    <add key="nuevalínea" value="{ENTER}" />
  </DictadoEspanol>

</configuration>